body{
    background: rgb(44, 44, 44);
}

.page{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.container-hero{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
}

header{
    display: flex;
    height: 100px;
    width: 1000px;
    background-color: white;
    justify-content: center;
    align-items: center;
}

nav{
    display: flex;
    height: 40px;
    width: 600px;
    justify-content: space-around;
    align-items: center;
}

a{
    color: black;
}

.nijmegen-logo{
    display: flex;
    position: relative;
    height: 50px;
    width: 130px;
    right: 100px;
    border: 1px solid black;
}

.nav-icons{
    height: 40px;
    width: 40px;
}

.black-gap{
    display: flex;
    height: 20px;
    width: 100%;
    background: rgb(44, 44, 44);
}
.container-home-1{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 1000px;

}

.hero-title{
    display: flex;
    margin-top: 10px;
    font-size: 40px;
    color:#3C0246;
    font-family: "Agbalumo", sans-serif;
    margin-bottom: 30px;
}

.container-home-2{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 1000px;
}

.sector-one{
    display: flex;
    width: 1000px;
    justify-content: space-between;
    margin-right: 30px;
}
.text-block-1{
    display: flex;
    margin-left: 30px;
    height: auto;
    width: 300px;
    align-self: flex-start;
    margin-bottom: 25px;
    color: #696969;
    font-size: 20px;

}

.text-block-2{
    display: flex;
    margin-left: 30px;
    height: auto;
    width: 300px;
    align-self: flex-start;
    color: #848484;
    font-size: 20px;
}

.info-block{
    display: flex;
    justify-content: center;
    background-color: #9481FC;
    height: 400px;
    width: 300px;
    border-radius: 50px;
    color: white;
    margin-right: 30px;
}

.info-block-inside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 25px;
    height: 350px;
    width: 220px;
}

.info-text-block{
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-between;
}

.info-text-png{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
}

.info-png{
    height: 25px;
    width: 25px;
}

.text-small{
    display: flex;
    margin: 0px;
    font-size: 12px;
}

.fix{
    display: flex;
    flex-direction: column;
}


.info-text-png-fix{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    font-size: 15px;
}

.sector-two{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.whats-next-block{
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 500px;
    background-color: #9481FC;
    border-radius: 50px;
    margin-left: 30px;
    margin-top: -60px;
    color: white;
}

.whats-next-title{
    font-family: "Agbalumo", sans-serif;
    margin-top: 25px;
    align-self: center;
    font-size: 22px;
    color: #9B00B6;
}

.whats-next-text{
    align-self: flex-start;
    padding-inline: 30px;
    margin-top: 20px;
}

.whats-next-subtitle{
    font-family: "Agbalumo", sans-serif;
    color: #9B00B6;
}

.whats-next-video{
    margin-top: 50px;
    height: 280px;
    width: 380px;
}

















/* Dit is waar Tim's css begint */
.container1p2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 800px;
}

.titelp2{
    display: flex;
    margin-top: 10px;
    font-size: 40px;
    color:#3C0246;
    font-family: "Agbalumo", sans-serif;
    margin-bottom: 30px;
}


.text1p2{
    color: #696969;
}

.text2p2{
    display: flex;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.programeertalen{
    position: absolute;
    height: 300px;
    width: 535px;
    left: 64%;
}